<% content_for :title, "Existing Chat" %>

<% content_for :content do %>
  <% 1.upto(20) do |index| %>
    <% if index.odd?%>
      <div class="border rounded p-3 m-3 w-50 align-self-end">
        <%= "Question: #{index}" %>
      </div>
    <% else %>
      <div class="border rounded p-3 m-3 w-50 align-self-start">
        <%= "Answer: #{index}" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render "chats/page" %>
