<div id="flash" class="container p-2 gap-4 text-center fixed-top" style="width: fit-content;">
  <% flash.each do |type, message| %>
    <%= render "layouts/flash_message", type:, message: %>
  <% end %>
</div>
